@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for notifications */
.mobile-notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 0.65rem;
    min-width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
